/* ===========================
Variables
=========================== */

/* Default Colors */
/* -----------------------------*/
$colorContent: rgb(85, 85, 85);
$colorSidebar: lightgray;

/* Background Colors */
/* -----------------------------*/
$bgContent: #fefefe;
$bgSidebar: #415270;

/* Fonts */
/* -----------------------------*/
$fontRoboto: 'Roboto', sans-serif;

/* Media */
/* -----------------------------*/
@custom-media --xs only screen and (max-width: 480px);
@custom-media --sm screen and (max-width: 640px);
@custom-media --md screen and (max-width: 1024px);
@custom-media --lg screen and (max-width: 1440px);
@custom-media --xl screen and (max-width: 1600px);

/* Typography */

/* -----------------------------*/
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

/* Grid */
/* -----------------------------*/
$gutter: 20px;
$gutter-lg: 30px;
$gutter-md: 20px;
$gutter-sm: 10px;
