/* ===========================
Content
=========================== */
.content {
  background-color: $bgContent;
  box-sizing: border-box;
  padding: 30px 50px;

  @media (--md) {
    padding: 0px 20px;
  }
}