/* ===========================
Grid
=========================== */

/* Global Settings*/
/* -----------------------------*/
@lost gutter 0px;

/* Grid markdown */
/* -----------------------------*/
.container {
  margin-bottom: $gutter;
  &:last-child {
    margin-bottom: 0;
  }

  @media (--lg) {
    margin-bottom: $gutter-lg;
    padding: 80px 0;
  }
  @media (--md) {
    margin-bottom: $gutter-md;
    padding: 50px 0;
  }
  @media (--sm) {
    margin-bottom: $gutter-sm;
    padding: 50px 0 20px;
  }

  .row, .row-fluid {
    @for $i from 1 to 12 {
      > .col-$(i) {
        lost-column: $i/12;
        @media (--md) {
          lost-column: 12/12;
        }
      }
    }
    /* Offsets */
    @for $i from 1 to 12 {
      > .col-offset-$(i) {
        lost-offset: -$i/12;
        @media (--md) {
          lost-offset: 0/12;
        }
      }
    }

    lost-utility: clearfix;
    lost-center: 1530px;
    @media (--md) {
      margin: 0 $gutter-md;
    }
    @media (--sm) {
      margin: 0 $gutter-sm;
    }

    &-fluid {
      lost-center: 100%;
    }
    /* Columns */
    > div[class^="col"] {
      min-height: 30px;
    }
  }
  &.is-transparent {
    background: none;
  }
}
