/* ===========================
Sidebar
=========================== */
.sidebar {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  box-sizing: border-box;
  padding: $gutter;
  background-color: $bgSidebar;

  @media (--lg) {
    margin-bottom: $gutter-lg;
  }
  @media (--md) {
    margin-bottom: $gutter-md;
  }
  @media (--sm) {
    margin-bottom: $gutter-sm;
  }

  &--title {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 0;
    color: $colorSidebar;
    letter-spacing: -.5px;
    font-weight: 300;
    font-size: 2rem;

    &:after {
      position: absolute;
      top: 55%;
      margin-left: 10px;
      width: 100%;
      height: 1px;
      background-color: $colorSidebar;
      content: '';
    }
  }
  &--btn {
    position: absolute;
    bottom: $gutter;
    left: 50%;
    transform: translateX(-50%);
  }
}