/* ===========================
Wrapper
=========================== */
.wrapper {
  padding: $gutter;
  background: linear-gradient(-45deg, #4d6283, #1f3454);
  @media (--lg) {
    padding: $gutter-lg;
  }
  @media (--md) {
    padding: $gutter-md;
  }
  @media (--sm) {
    padding: $gutter-sm;
  }
}