.info {
  &--photo {
    margin: 0 auto 30px;
    padding: 5px;
    max-width: 60%;
    border: 3px solid $colorSidebar;
    border-radius: 500px;

    > img {
      display: block;
      border-radius: 500px;
    }
  }
  &--name {
    margin: 0 0 10px 0;
    color: $colorSidebar;
    font-weight: 300;
    font-size: 1.8rem;
  }
  &--position {
    margin: 0 0 10px 0;
    color: $colorSidebar;
    letter-spacing: -.5px;
    font-weight: 300;
    font-size: 1.3rem;
  }
}
