.info {
  &--photo {
    margin: 0 auto 15px;
    padding: 5px;
    max-width: 75%;
    border: 3px solid $colorSidebar;
    border-radius: 500px;
    border-right-color: #0057b8;
    border-top-color: #0057b8;
    border-left-color: #ffd700;
    border-bottom-color: #ffd700;
    transform: rotate(-45deg);
    

    @media (--md) {
      margin-bottom: 0;
    }

    > img {
      display: block;
      border-radius: 500px;
      transform: rotate(45deg);
    }
  }
  &--name {
    margin: 0 0 10px 0;
    color: $colorSidebar;
    font-weight: 300;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
  }
  &--position {
    margin: 0 0 10px 0;
    color: $colorSidebar;
    font-weight: 400;
    font-size: 1.3rem;
  }
}
