.skill {
  &--list {
    margin: 0 0 0 0px;
    padding: 0;
    color: $colorSidebar;
    list-style: none;
  }
  &--item {
    display: inline-block;
    border-radius: 3px;
    background-color: color($colorSidebar a(20%));
    margin: 0 5px 5px 0;
    width: auto;
    font-size: .9rem;
    padding: 4px 6px 3px 7px;
  }
}
