.social {
  display: block;
  width: 100%;
  
  &--list {
    clear: fix;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &--item {
    clear: fix;
    margin: 0 10px 10px 0;
  }
  &--link {
    display: block;
    color: $colorSidebar;
    text-decoration: none;

    > .icon {
      float: left;
      margin-right: 10px;
      fill: white;
      size: 30px 31px;
    }
    > span {
      position: relative;
      top: 10px;
      color: $colorSidebar;
    }
  }
}
