.title {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 0;
  color: $colorContent;
  letter-spacing: -.5px;
  font-weight: 600;
  font-size: 1.6rem;

  &:after {
    position: absolute;
    top: 55%;
    margin-left: 10px;
    width: 100%;
    height: 1px;
    background-color: color($colorContent a(30%));
    content: '';
  }
}